<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>wjz`s Demo</title>
		<script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
    	<script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/bootbox.js') }}"></script>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
	    <script type=text/javascript>
	     	var $SCRIPT_ROOT = {{request.url_root|tojson|safe}};
	 	  	$.ajaxSetup({    
				sync : false,
				cache : false
			});
	    </script>
	    
	</head>
	<body>
		<div class="col-sm-offset-1 col-sm-10">
			<nav class="navbar navbar-default" role="navigation">
			    <div class="container-fluid">
				    <div class="navbar-header">
				        <a class="navbar-brand" href="#">Demo</a>
				    </div>
				    <div>
				        <ul id="myTab" class="nav navbar-nav navbar-left" >
				            <li class="active"><a href="#home" data-toggle="tab">主页</a></li>
				            <li class="dropdown">
				                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">微信<b class="caret"></b></a>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
				                    <li><a href="#weChat" tabindex="-1" data-toggle="tab">打开我的微信机器人</a></li>
				                </ul>
				            </li>
				            <li class="dropdown">
				                <a href="#" id="myTabDrop2" class="dropdown-toggle" data-toggle="dropdown">小程序<b class="caret"></b></a>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
				                    <li><a href="#picToTxt" tabindex="-1" data-toggle="tab">图片转字符画</a></li>
				                    <li class="divider"></li>
				                    <li><a href="#send_email" tabindex="-1" data-toggle="tab">发送定时邮件</a></li>
				                    <li class="divider"></li>
				                    <li><a href="#sPic" tabindex="-1" data-toggle="tab">图片缩放</a></li>
				                </ul>
				            </li>
                            <!--
				            <li class="dropdown">
				                <a href="#" id="myTabDrop3" class="dropdown-toggle" data-toggle="dropdown">财务中心<b class="caret"></b></a>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop3">
				                    <li><a href="#recharge_online" tabindex="-1" data-toggle="tab">在线充值</a></li>
				                    <li class="divider"></li>
				                    <li><a href="#payment_history" tabindex="-1" data-toggle="tab">付款记录</a></li>
				                </ul>
				            </li>
				            -->
				        </ul>
                        <button type="button" class="btn btn-default navbar-left navbar-btn" onclick="jdDemo()">京东历史价格</button>
                        <p class="navbar-text navbar-left"><span class="glyphicon glyphicon-leaf"></span>by wjz </p>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user">
                                {% if current_user.is_authenticated %}
                                    {{ current_user.name }}
                                {% else %}
                                    未登录
                                {% endif %}
                            </span>
                            </a></li>
                            <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> 注销</a></li>
                        </ul>
				    </div>
			    </div>
			</nav>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in" id="home">home</div>
				<div class="tab-pane fade" id="weChat">
					<div class="panel panel-info">
						<div class="panel-heading">打开微信聊天机器人</div>
						<div class="panel-body">
							扫码登录微信，打开微信聊天机器人。<br />
					    	其他人发“。”+ 文字消息，可以与机器人聊天。<br /><br />
					    	<button id="qr_button1" type="button" class="btn btn-primary" onclick="wechat(1)"><span class="glyphicon glyphicon-qrcode"></span> 生成二维码</button><br />
					    	<img id="wechat_qr1" src=""/>
					  	</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">打开微信自动回复</div>
						<div class="panel-body">
							<label class="col-sm-12 control-label">微信进入忙碌模式，自动回复好友消息</label>
					    	<div class="col-sm-12">
								<label class="col-sm-2 control-label">消息内容</label>
								<div class="col-sm-6">
									<input id="weChat_reply_text" type="text" class="form-control"/>
								</div>
							</div>
							<div class="col-sm-12">
								<button id="qr_button2" type="button" class="btn btn-primary" onclick="wechat(2)"><span class="glyphicon glyphicon-qrcode"></span> 生成二维码</button><br />
							</div>
					    	<img id="wechat_qr2" src=""/>
					  	</div>
					</div>
				</div>
				<div class="tab-pane fade" id="picToTxt">
					<div class="panel panel-info" id="picToTxt_app">
						<div class="panel-heading">选择图片</div>
						<div class="panel-body">
							<div class="form-group col-sm-12">
								<label class="col-sm-2" style="text-align:right">字符画文件行数</label>
								<div class="col-sm-3">
									<select id="picToTxt_lines" name="picToTxt_lines" class="form-control">
										<option value="50">50</option>
										<option value="75">75</option>
										<option value="100">100</option>
										<option value="125">125</option>
										<option value="150">150</option>
									</select>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<label class="col-sm-2" style="text-align:right">选择图片</label>
								<div class="col-sm-5">
									<input id="picToTxt_pic" type="file"/>
									<label>请使用英文文件名</label>
								</div>
							</div>
							<label class="col-sm-offset-3 col-sm-9 text-muted">支持图片格式：'*.png', '*.jpg', '*.jpeg', '*.gif'</label>
							<label class="col-sm-offset-3 col-sm-9 text-muted">支持图片大小：2M以下</label>
							<div class="col-sm-offset-2 col-sm-10">
								<button type="button" class="btn btn-primary" onclick="picToTxt_download()">下载</button><br />
							</div>
							<div class="alert alert-warning col-sm-12">由于字符解析图片的解析力有限，建议选择内容简洁，色彩简单的图片。<br />点击下方示例：</div>
							<div class="row">
								<div class="col-sm-2">
									<a href="{{ url_for('static', filename='pic/wm.txt') }}" class="thumbnail">
										<img src="{{ url_for('static', filename='pic/wm.jpg') }}" alt="通用的占位符缩略图"/>
									</a>
								</div>
								<div class="col-sm-2">
									<a href="{{ url_for('static', filename='pic/yang.txt') }}" class="thumbnail">
										<img src="{{ url_for('static', filename='pic/yang.jpg') }}" alt="通用的占位符缩略图"/>
									</a>
								</div>
								<div class="col-sm-2">
									<a href="{{ url_for('static', filename='pic/yao.txt') }}" class="thumbnail">
										<img src="{{ url_for('static', filename='pic/yao.jpg') }}" alt="通用的占位符缩略图"/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="send_email">
					<div class="panel panel-info" id="send_email_app">
						<div class="panel-heading">输入邮件信息</div>
						<div class="panel-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label"><span class="glyphicon glyphicon-alert"></span> 选择用户</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model="emailFormDate.username"/>
									</div>
									<div class="col-sm-3">
										<button type="button" class="btn btn-warning" v-on:click="getUserInfo()">加载信息</button>
									</div>
								</div>
								<hr />
								<div class="form-group">
									<label class="col-sm-2 control-label">发件邮箱</label>
									<div class="col-sm-5">
										<input type="email" class="form-control" v-model="emailFormDate.from"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">发件邮箱密码</label>
									<div class="col-sm-5">
										<input type="password" class="form-control" v-model="emailFormDate.pwd"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">发件邮箱服务器</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model="emailFormDate.server"/>
									</div>
									
								</div>
								<hr />
								<div class="form-group">
									<label class="col-sm-2 control-label">收件人邮箱</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model="emailFormDate.to"/>
										<p class="help-block">多个邮箱以逗号分隔.</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">抄送人邮箱</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model="emailFormDate.cc"/>
										<p class="help-block">多个邮箱以逗号分隔.</p>
									</div>
								</div>
								<hr />
								<div class="form-group">
									<label class="col-sm-2 control-label">邮件标题</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model="emailFormDate.title"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">邮件内容</label>
									<div class="col-sm-5">
										<textarea class="form-control" rows="8" cols="10" wrap="hard" v-model="emailFormDate.body"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2" style="text-align:right">邮件附件1</label>
									<div class="col-sm-5">
										<input id="atta1" type="file"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2" style="text-align:right">邮件附件2</label>
									<div class="col-sm-5">
										<input id="atta2" type="file"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2" style="text-align:right">邮件附件3</label>
									<div class="col-sm-5">
										<input id="atta3" type="file"/>
									</div>
								</div>
								<hr />
								<div class="form-group">
									<label class="col-sm-2 control-label">发送时间（今天）</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" placeholder="21:50:00" v-model="emailFormDate.send_time"/>
										<p class="help-block">hh:mm:ss</p>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-5 col-lg-offset-6">
										<button type="button" class="btn btn-primary" v-on:click="submit_email()">提交</button>
									</div>
								</div>
								
							</form>
					  	</div>
					</div>
				</div>
				<div class="tab-pane fade" id="sPic">sPic</div>
				<div class="tab-pane fade" id="recharge_online">recharge_online</div>
				<div class="tab-pane fade" id="payment_history">payment_history</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/wjzJS.js') }}"></script>
		<script>
			function wechat(mo){
			    var replay_text = $('#weChat_reply_text').val()
			    if(mo = 2 && replay_text==""){
			    	bootbox.alert('请输入自动回复消息内容！');
			    }else{
			    	$('#qr_button1').attr('disabled','disabled')
			    	$('#qr_button2').attr('disabled','disabled')
			    	$.post($SCRIPT_ROOT + 'wechat/getQR',{password:'wjz','mode':mo,'text':replay_text},function(res){
						$('#wechat_qr'+mo).attr('src',res);
					})
			    }
			}
			function jdDemo() {
                window.open($SCRIPT_ROOT + 'jd');
            }
			function picToTxt_download(){
				var pic = $('#picToTxt_pic')[0].files[0];
				var lines = $('#picToTxt_lines').val();
				var formd = new FormData();
				if(pic){
					formd.append('pic',pic);
				}
				formd.append('lines',lines)
				jz.postFileByPara($SCRIPT_ROOT + 'stools/picTotxt', formd,function(res){
					if(res){
						var d_url = "/stools/download/" + res;
						window.open(d_url);
					}else{
						bootbox.alert('转换失败');
					}
				})
			}
			var send_email_app = new Vue({
				el:'#send_email_app',
				data:{
					emailFormDate:{
						username:'',
						from:'',
						pwd:'',
						server:'',
						to:'',
						cc:'',
						title:'',
						body:'',
						atta1:'',
						atta2:'',
						atta3:'',
						send_time:''
					}
				},
				methods:{
					getUserInfo:function(){
						jz.postByPara($SCRIPT_ROOT + 'send_email/getUser',{username:this.emailFormDate.username,},function(res){
							if(res){
								send_email_app.emailFormDate = res;
								bootbox.alert('加载成功');
							}else{
								bootbox.alert('未注册用户');
							}
						})
					},
					submit_email:function(){
						var file1 = $('#atta1')[0].files[0];
						var file2 = $('#atta2')[0].files[0];
						var file3 = $('#atta3')[0].files[0];
						var formd = new FormData();
						if(file1){
							formd.append('atta1',file1);
						}
						if(file2){
							formd.append('atta2',file2);
						}
						if(file3){
							formd.append('atta3',file3);
						}
						formd.append('emailData',JSON.stringify(this.emailFormDate))
						
						jz.postFileByPara($SCRIPT_ROOT + 'send_email/save',formd,function(res){
							if(res=="visitor"){
								bootbox.alert('权限限制，无法操作');
							}else if(res){
								bootbox.alert('延时发送启动成功');
							}else{
								bootbox.alert('延时发送启动失败');
							}
						})
					}
				}
			})
		</script>
	</body>
</html>
